#header{
    height: 200px;
}

.layui-form{
    width:auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 320px;
    overflow: hidden;
}
@media screen and (min-width: 1201px) {
    .layui-form {
        width: auto;
        margin-left: 200px;
        margin-right: 200px;
    }
}
#demo20{
    text-align: center;
}
.content{
    margin-left: 20px;
    margin-right: 20px;
    background-color:#dddddd ;
}
@media screen and (min-width: 1201px) {
    .content {
        margin-left: 200px;
        margin-right: 200px;
    }
}